<ng2b-navbar [show-toggle]='true' >
    <ng2b-nav-element ng2b-position='navbar' ng2b-container='normal' ><a href="#">Action</a></ng2b-nav-element>
    <ng2b-nav-element ng2b-position='navbar' ng2b-container='normal'><a href="#">Another action</a></ng2b-nav-element>
    <ng2b-nav-element ng2b-position='right' ng2b-container='normal' ><a href="#">Something else here</a></ng2b-nav-element>
    <ng2b-nav-element ng2b-position='left' ng2b-container='form' >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <ng2b-button text='FB' button-type='DEFAULT' ></ng2b-button>
    </ng2b-nav-element>
    <ng2b-nav-element ng2b-position='right' ng2b-container='form' >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <ng2b-button text='FB' button-type='DEFAULT' ></ng2b-button>
    </ng2b-nav-element>
</ng2b-navbar>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h1>My First Angular 2 App</h1>

            <ng2b-modal [show]='false' title='Modal Title' (onConfirm)='log($event)' (onCancel)='log($event)' #mymodal1>ALERT!</ng2b-modal>
            <ng2b-modal [show]='false' title='Modal Title' (onConfirm)='log($event)' (onCancel)='log($event)' #mymodal2>HELLO!</ng2b-modal>
            <h3>Buttons</h3>
            <ng2b-button text='Show DIalog 1' button-type='PRIMARY' (click)='openDialog1($event)'></ng2b-button>
            <ng2b-button text='Show Dialog 2' button-type='WARNING' (click)='openDialog2($event)'></ng2b-button>

            <ng2b-table></ng2b-table>

            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
            <p>
                Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem ipsu dissd ad Lorem
                ipsu dissd ad
            </p>
        </div>
    </div>

</div>